* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-block: 40px;
    text-align: center;
    align-items: center ;
}

main h1 {
    margin: 30px;
}

.thingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

img {
    margin-inline: 20px;
}

.thingContent {
    text-align: left;
}